body {
    color: black;
}

main {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* Style the tab */
.tab {
    overflow: hidden;
}

/* Style the buttons inside the tab */
.tab button {
    float: left;
    padding: 0 20px;
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: whitesmoke;
    border-radius: 30px;
}

.tablinks.active {
    background-color: #eee;
    border-radius: 30px;
}

/* Style the tab content */
.tabcontent {
    display: none;
}

.group-section {
    border-radius: 5px;
    margin: 20px 0;
}

.group h2 {
    margin-top: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

table th {
    background-color: whitesmoke;
}

table img {
    width: 40px;
    height: 30px;
    vertical-align: middle;
    margin-right: 8px;
}

table a {
    display: grid;
    grid-template-columns: 40px 120px;
    align-items: center;
    justify-content: center;
    color: black;
    text-decoration: none;
}