body {
    background-color: #f9f9f9;
}

main {
    padding: 20px;
}

ul.timeline {
    list-style-type: none;
    position: relative;
    padding: 0;
    margin: 20px 0;
    word-break: keep-all;
}

ul.timeline::before {
    content: '';
    background: #9a9a9a;
    display: inline-block;
    position: absolute;
    left: 50%;
    width: 4px;
    height: 100%;
    z-index: 400;
    border-radius: 1rem;
    transform: translateX(-50%);
}

ul.timeline > li {
    margin: 50px;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
}

ul.timeline > li::before {
    content: '';
    background: #5a5a5a;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    z-index: 400;
    transform: translateX(-50%);
}

ul.timeline > li .timeline-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    width: 45%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ul.timeline > li:nth-child(odd) .timeline-content {
    left: 50%;
    transform: translateX(-110%);
    text-align: right;
}

ul.timeline > li:nth-child(even) .timeline-content {
    left: 50%;
    transform: translateX(10%);
}

ul.timeline > li .timeline-content strong {
    font-size: 1.2em;
}

ul.timeline > li .timeline-content span {
    font-size: 1em;
    font-weight: bold;
    color: #2a2a2a;
    display: block;
    margin: 10px 0 5px 0;
}

ul.timeline > li .timeline-content ul {
    padding: 0;
    margin: 0;
    list-style-type: disc;
    padding-left: 20px;
}

ul.timeline > li .timeline-content ul li {
    list-style-type: none;
    margin: 5px 0;
    color: #4a4a4a;
}