body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    padding: 30px 30px 20px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    transition: background-color 0.3s;
}

.logo {
    padding: 0 0 10px;
    width: 220px;
}

nav ul li a:active {
    cursor: pointer;
    background-color: #3a3a3a;
    border-radius: 30px;
    padding: 20px;
}

.active {
    background-color: #2a2a2a;
    border-radius: 30px;
    padding: 20px;
}

@media (max-width:1000px) {
    nav {
        flex-direction: column;
    }

    .logo {
        order: 0;
        margin-bottom: 10px;
    }

    nav ul {
        order: 1;
        flex-direction: row;
        gap: 20px;
        padding: 20px;
    }
}